<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Practice.Properties.Settings.Praktika_dataConnectionString"
            connectionString="Data Source=DESKTOP-GOUEP53\SQLEXPRESS;Initial Catalog=Praktika_data;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Practice.Properties.Settings.PraktikaConnectionString"
            connectionString="Data Source=DESKTOP-GOUEP53\SQLEXPRESS;Initial Catalog=Praktika;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>